[run]
omit =
    */python?.?/enum.py
    */python?.?/functools.py
    */python?.?/shlex.py
    */python?.?/weakref.py
    */python?.?/sqlite3/*
    */python?.?/email*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/enum/*
    */site-packages/xdg/*
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
