[run]
omit =
    */python?.?/enum.py
    */python?.?/functools.py
    */python?.?/shlex.py
    */python?.?/weakref.py
    */python?.?/sqlite3/*
    */python?.?/email*
    */python?.?/encodings*
    */python?.?/json*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */dist-packages/cairo/*
    */dist-packages/xdg/*
    */dist-packages/enum/*
    */dist-packages/glib/*
    */dist-packages/gobject/*
    */dist-packages/gtk-2.0/*
    */dist-packages/ordereddict.py
    */dist-packages/pygtk*
    */dist-packages/nose/*
    */site-packages/enum/*
    */site-packages/xdg/*
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
